<html>
    <head>
        {{  content_for_header }}

        {{ 'tailwind.output.css' | asset_url | stylesheet_tag }}
    </head>

    <body class="max-w-7xl mx-auto">
        {%  section 'header' %}
        {{  content_for_layout }}
    </body>
</html>